build/models/
build/shaders/OLD/
external/
build/.vs/main/v16/.suo
*.db
build/.vs/main/v16/ipch/AutoPCH/7232343461d00f07/RENDERER.ipch
build/.vs/main/v16/Browse.VC.opendb
build/.vs/main/v16/ipch/AutoPCH/d31f9b3c244da6d7/RENDERER.ipch
build/.vs/main/v16/ipch/AutoPCH/d6b67d8bc4bfe658/RENDERER.ipch
build/.vs/main/v16/ipch/AutoPCH/dc5d37cd7c142a86/RENDERER.ipch
build/.vs/test/v16/.suo
build/.vs/test/v16/ipch/AutoPCH/2539b0b2e077339/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/2915b6ed6d293205/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/612d955bd978b188/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/8679bb2860b58b8c/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/b6a46f153cfa098f/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/cebed94fed42ac71/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/cb73823ce0b24f9b/TEST.ipch
build/.vs/test/v16/ipch/AutoPCH/d81a7fc8425bb7d5/TEST.ipch
build/freetype.dll
build/main.exe
build/main.exp
build/main.ilk
build/main.lib
build/main.obj
build/main.pdb
build/main.sln
build/SDL2.dll
build/.vs/main/v16/.suo
build/.vs/main/v16/.suo
build/.vs/main/v16/.suo
*.pdb
build/.vs/main/v16/.suo
build/.vs/main/v16/.suo
build/.vs/main/v16/ipch/AutoPCH/211e5de09a9db678/TYPE_VEC3.ipch
build/.vs/main/v16/.suo
*.ipch
build/.vs/main/v16/.suo
